* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Square Peg', cursive;
}
header {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 8rem;   
}
.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 20px;
}
.cat-image {
    width: 20rem;
    height: auto;
    margin: 35px 40px;
    border-radius: 20px;
}
#cats-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.random-cat-button {
    background-color: rgb(94, 197, 228);
    border: 5px solid rgb(66, 78, 249);
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    padding: 12px;
    width: 200px;
    height: auto;
}
.random-cat-button:hover {
    border: 5px solid rgb(94, 197, 228);
    background-color: rgb(66, 78, 249);
}